.label{
    -fx-font-family: "Nazanintar";
    -fx-font-size: 18px;
    -fx-text-fill: #801464;
    -fx-alignment:center-right;
}
.text-field{
    -fx-font-family: "Nazanintar";
    -fx-alignment: top-right;
}