.button{
    -fx-pref-width: 480;
    -fx-pref-height: 100;
    -fx-background-color: #fff;
    -fx-content-display: right;
    -fx-text-alignment: right;
    -fx-alignment: center-right;
}
.button:pressed{
    -fx-background-color: #d7d7d7;
}